---

---

<footer class="Footer">
  <div class="Footer-claim">
    <p>
      Las imágenes, textos y fotografías han sido elaborados con fines
      ilustrativos y descriptivos de las características generales del proyecto
      y producto ofrecido, por lo que no puede ni debe entenderse que
      constituyen necesariamente una representación exacta de la realidad. La
      disponibilidad, precio, especificaciones y características pueden cambiar.
      Lo anterior se informa en virtud de lo señalado en la Ley 19.472.
    </p>
  </div>
  <div class="container">
    <a class="Brand" href="/">
      <img src="" alt="" class="Brand-image" />
    </a>
  </div>
</footer>
