---
import ProjectCard from "./ProjectCard.astro";
---

<section class="HomeProjects">
  <div class="Container">
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
  </div>
</section>

<style lang="scss">
  .HomeProjects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;
  }
</style>