---
import ProjectCard from "./ProjectCard.astro";
---

<section class="HomeProjects">
  <h1 class="HomeProjects-title">Conoce nuestros proyectos</h1>
  <div class="Container">
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
  </div>
</section>

<style lang="scss">
  .HomeProjects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;

    &-title {
      text-align: center;
    }
  }
</style>