---

---

<div class="ProjectCard">
  <a href="#">
    <img src="/assets/featured-builds/fachada1.jpg" alt="Fachada proyecto" />
  </a>
  <p class="ProjectCard-title">1590 Nuestra Señora Del Rosario, Vitacura</p>
  <ul class="ProjectCard-info">
    <li>1 y 3 dormitorios.</li>
    <li>Superficiedesde 58 m2</li>
    <li>Desde UF 7.790</li>
  </ul>
  <a href="#" class="ProjectCard-cta">Ver proyecto</a>
</div>

<style lang="scss">
  .ProjectCard {
    display: flex;
    width: 400px;
    flex-flow: column nowrap;
    background-color: beige;

    img {
      width: 100%;
    }
  }
</style>