---
import data from "../../data/database";
---

<nav class="Nav">
  {
    data.menuItems.map((item) => (
      <a class="Nav-link" href={item.link}>
        {item.label}
      </a>
    ))
  }
</nav>

<style lang="scss">
  .Nav {
    display: flex;
    gap: 1rem;

    &-link {
      color: white;
      text-decoration: none;
    }
  }
</style>