---

---

<nav class="Nav">
    <a href="#" class="Nav-link">Somos</a>
    <a href="#" class="Nav-link">Proyectos</a>
    <a href="#" class="Nav-link">Oportunidades</a>
    <a href="#" class="Nav-link">Recibimos tu propiedad</a>
    <a href="#" class="Nav-link">Postventa</a>
</nav>

<style lang="scss">
    .Nav {
        display: flex;
        gap: 1rem;

        &-link {
            color: white;
            text-decoration: none;
        }
    }
</style>