---
import MainLayout from "../layouts/MainLayout.astro";
import Slider from "../components/home/Slider.astro";
import HeroBar from "../components/shared/HeroBar.astro";
import HomeProjects from "../components/shared/HomeProjects.astro";
---

<MainLayout>
  <main>
    <Slider />
    <HeroBar />
    <div class="Container">
      <HomeProjects />
    </div>
  </main>
</MainLayout>
