---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <div class="Container">
      <h1 class="PageTitle">Postventa</h1>
      <article>
       <p>Escríbenos y un representante de post-venta te contactará a la brevedad</p>
      </article>
    </div>
  </main>
</MainLayout>
