---
import MainLayout from "../layouts/MainLayout.astro";
import HomeProjects from "../components/shared/HomeProjects.astro";
---

<MainLayout>
  <main>
    <div class="Container">
        <HomeProjects />
    </div>
  </main>
</MainLayout>
