---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
  <main>
    <div class="Container">
      <h1 class="PageTitle">Recibimos tu propiedad</h1>
      <article>
        
Valoramos lo que tienes, y por ello te ofrecemos recibir tu propiedad en parte de pago o nos encargarmos de su venta, liberándote de la engorrosa gestión de venta de tu actual propiedad, sin asumir costo alguno y por sobre todo realizando el ciclo del cambio de tu propiedad con una misma compañía.
Por eso dejar tu antigua propiedad para adquirir una nueva ya no sera un problema.

Sin gastos ni comisiones: servicio costo 0, sin costo de tasación ni comisiones.
Seguro y fácil: coordinamos la visita de nuestros especialistas a tu propiedad para analizar y estudiar su valor comercial buscando su mejor precio de mercado.
Precio de compra asegurado: el precio fijado de común acuerdo se mantiene hasta el final de la operación.
Negociación sin riesgo: si no se hace efectiva la operación, se devuelve garantía y documentación que haya sido entregada sin trámites ni costos.
Entrega 100% coordinada y recepción simultánea: la venta de tu antigua propiedad y la entrega de tu nuevo hogar se realiza en paralelo para tu comodidad y así el cambio a tu nueva propiedad lo harás con una sola compañía, buscando calzar los tiempos.
      </article>
    </div>
  </main>
</MainLayout>






