---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <div class="Container">
      <h1 class="PageTitle">Somos</h1>
      <article>
        <p>
          Inmobiliaria Buenaventura una compañía creada a raíz de la confluencia
          de dos grupos líderes en el ramo, con el objeto de desarrollar
          proyectos inmobiliarios innovadores, que presentan soluciones
          habitables de excelencia, optimizando el uso de los recursos, con alta
          preocupación por los detalles, el diseño y la calidad.
        </p>
        <p>
          Creamos propiedades basadas en nuestro concepto de “SMARTBUENAVENTURA:
          Vivir Inteligente”. La ciudad inteligente o ciudad eficiente es un
          término emergente a nivel mundial, usado para definir desarrollos
          urbanos que promueven una óptima calidad de vida en aspectos
          operativos, sociales y ambientales con el uso de tecnologías.
        </p>

        <p>
          En Buenaventura, entendemos la importancia de que los barrios se
          transformen y sean eficientes, por eso nuestros proyectos junto con
          insertarse armoniosamente en su entorno, están a la vanguardia de
          tendencias arquitectónicas, tecnológicas, sustentables y de
          conectividad, con el fin de mejorar la calidad de vida de las
          personas.
        </p>
      </article>
    </div>
  </main>
</MainLayout>
