---

---

<h1>Términos y condiciones</h1>
<p>Todos los ítems detallados en estas especificaciones podrán ser modificados si éstos no se encontrasen en el mercado al momento de su compra, no pudiesen ser adquiridos por causas del fabricante o bien, existiese otra alternativa de calidad similar o superior. En todo caso, la calidad de cualquier ítem modificado según lo señalado anteriormente deberá ser similar a la especificada y la elección definitiva se hará según criterio del arquitecto a cargo del proyecto. Por lo anteriormente expuesto, las Especificaciones Técnicas así como los departamentos pilotos podrán tener modificaciones con respecto a los inmuebles que finalmente serán entregados al Prominente Comprador. Las imágenes y renders exhibidos en catálogos, afiches, plantas, videos, páginas webs y en cualquier otro tipo de publicidad del proyecto son de carácter ilustrativo.</p>