---

---

<div class="HeroBar">
  <div class="HeroBar-item">
    <img
      class="HeroBar-ico"
      src="/assets/icons/pay.svg"
      alt="Paga tu pie en cuotas"
    />
    <p class="HeroBar-title">
      Paga tu pie en cuotas <span>con tarjeta de crédito</span>
    </p>
  </div>
  <div class="HeroBar-item">
    <img
      class="HeroBar-ico"
      src="/assets/icons/pay.svg"
      alt="Paga tu pie en cuotas"
    />
    <p class="HeroBar-title">
      Paga tu pie en cuotas <span>con tarjeta de crédito</span>
    </p>
  </div>
  <div class="HeroBar-item">
    <img
      class="HeroBar-ico"
      src="/assets/icons/pay.svg"
      alt="Paga tu pie en cuotas"
    />
    <p class="HeroBar-title">
      Paga tu pie en cuotas <span>con tarjeta de crédito</span>
    </p>
  </div>
  <div class="HeroBar-item">
    <img
      class="HeroBar-ico"
      src="/assets/icons/pay.svg"
      alt="Paga tu pie en cuotas"
    />
    <p class="HeroBar-title">
      Paga tu pie en cuotas <span>con tarjeta de crédito</span>
    </p>
  </div>
</div>

<style lang="scss"> 
    .HeroBar {
        background-color: green;
        display: flex;
        gap: 1em;

        &-item {
          background-color: antiquewhite;
          margin: 1em 0;
          padding: 1em;
        }
    }
</style>