---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
const siteTitle = "Ibuenaventura"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{ siteTitle }</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="Main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
